[package]
name = "rustaman"
version = "0.1.0"
authors = ["Guillaume Gauvrit <guillaume@gauvr.it>"]
edition = "2018"

[dependencies]

clap = "^2.32.0"

gtk = "^0.5.0"
gdk = "^0.9.0"
gio = "^0.5.1"
glib = "^0.6.0"
gtk-sys = "^0.7.0"
relm = "^0.15.0"
relm-derive =  "^0.15.0"

sourceview = "^0.5.0"

serde = "^1.0.27"
serde_derive = "^1.0.80"
serde_json = "^1.0.9"
serde_yaml = "^0.7.3"

log = "^0.4"
pretty_env_logger = "^0.2.5"

lazy_static = "^1.2.0"
regex = "^1.0.6"
url = "^1.7.2"
handlebars = "^1.1.0"
dirs = "^1.0"

[features]
default = ["gtk_3_22"]
gtk_3_10 = ["gtk/v3_10"]
gtk_3_16 = ["gtk_3_10", "gtk/v3_16"]
gtk_3_18 = ["gtk_3_16", "gtk/v3_18"] #for CI tools
gtk_3_20 = ["gtk_3_18", "gtk/v3_20"] #for CI tools
gtk_3_22 = ["gtk_3_20", "gtk/v3_22"] #for CI tools
